.product{
    display: flex;
    border-bottom: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    background-color: gold;
    padding: 5px;
    width: 150px;
}